/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { */
body {
  background-color: white;
}
.cover_80 {

  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#about-section {
  background-image: url(images/parallax.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
}
.aboutleft{
  background-image: url(images/LH\ web\ 9\ -\ right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.aboutright{
  background-image: url(images/LH\ web\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height:100%;
}
#events-section {
  height: 100vh;
  /* background-image: url(images/LH\ WEB\ 1.png); */
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}
#gallery-section {
  background-image: url(images/parallax.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
}
.galleryleft{
  background-image: url(images/LH\ web\ 9\ -\ right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.galleryright{ 
  background-image: url(images/LH\ web\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height:100%;
}
#contact-section {
  
  height: 100vh;
  /* background-image: url(images/LH\ WEB\ 9.png); */
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#classes-section {
  background-image: url(images/parallax.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  height: 70vh;
}
.classesleft{
  background-image: url(images/LH\ web\ 9\ -\ right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.classesright{
  background-image: url(images/LH\ web\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height:100%;
}
#footer{
  height: 30vh;
  background-color: white;

}

