/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
} */

body {
  background-color: white;
}
.hero {
  height: 100vh;

  border-bottom: 10vh solid rgba(0, 0, 0, 0.813);
}

.site-mobile-menu {
  width: 200px;
  background-color: rgb(250, 242, 232);
}
.site-navbar-top a {
  color: black;
  /* background-color: transparent;text-shadow: 0.5px 0.5px black; */
}

.cover_80 {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#about-section {
  /* background-image: url(images/parallax.png); */
  /* background-attachment: fixed; */
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  display: flex;
  align-items: center;
  height: 100vh;
}
#ourservices {
  border-top: 20px solid black;
  background-color: #f7cda61f;
  align-items: center;
  height: 100vh;
  padding: 5% 6vw 5% 6vw;
}

#ourservices button {
  display: block;
  background-color: #000;
  height: 50px;
  width: 200px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#ourservices h1 {
  margin-bottom: 50px;
  font-style: italic;
  font-size: 4rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
#ourservices p {
  margin: 30px;
  color: black;
  font-size: 2rem;
  margin-top: 0px;
  text-transform: uppercase;
  font-style: italic;
}
.aboutleft {
  background-image: url(images/LH\ web\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 100%;
}
.aboutright {
  /* background-image: url(images/logo-med.jpg); */
  /* opacity: 0.2; */
  /* border: 1px solid black; */

  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 100%;
  font-size: 1.2vw;
  color: #000;
}

.aboutright h2,
h1,
h5,
p {
  font-family: "Raleway";
  text-align: center;
  padding: 0%;
}
.aboutright > p {
  color: black;
  font-size: 2rem;
  margin-top: 50px;
}
.aboutright > img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#reviews .card {
  border: 1px solid black;
  text-align: center;
  font-size: 1em;
  margin: 1%;
}

#events-section {
  height: 100vh;
  /* background-image: url(images/parallax.png);
  background-position-x: right;
  background-attachment: fixed; */
  background-color: #f7cda61f;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#events-section h1 {
  letter-spacing: 0.5em;
}
.eventsright {
  /* position: absolute; */
  height: 90%;
  width: 90%;
}
.eventsright p {
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
.card {
  padding: 10px 10px 0px 10px;
  width: 30%;
  height: 40%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 2px solid white;
}
.card-img-top {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
}
.card-body {
  height: 30%;
}
#gallery-section {
  background-color: #f7cda61f;
  border-top: 20px solid black;
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  height: 100vh;
}
.galleryleft {
  padding: 20px 10px 20px 20px;
  background-color: white;
  height: 100%;
  width: 20%;
}
.galleryright {
  padding: 12px 12px 12px 0;
  background-color: white;
  height: 100%;
  width: 80%;
}
.galleryright h3 {
  padding-left: 15px;
}
.galleryleft div {
  color: white;
  font-size: 1em;
  text-align: center;
}
.galleryleft button {
  font-family: "Raleway";
  border: 1px solid #f7b308b2;
}
.galleryleft div:hover {
  box-shadow: 0 8px 8px 0 #f7b308b2;
}
.pricelist {
  background-color: transparent;
  text-shadow: 1px 1px black;
  padding: 0;
  width: 100%;
  height: 32.5%;
}

.pricelist button {
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  text-align: justify;
  text-decoration: underline;
  padding: 0;
}

#contact-section {
  height: 100vh;
  padding-left: 0%;
  padding-right: 0%;
}
.contactleft {
  background-image: url(images/LH\ web\ 7.1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.contactright {
  background-image: url(images/LH\ web\ 7.2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

#classes-section {
  background-image: url(images/parallax.png);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  height: 70vh;
}
.classesleft {
  background-image: url(images/LH\ web\ 9\ -\ right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.classesright {
  background-image: url(images/LH\ web\ 8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  height: 100%;
  position: relative;
}
#reviews {
  border-top: 20px solid black;
  padding-top: 20px;
  color: #000;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: #30171796;
  height: 30vh;
  color: black;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70%;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  color: #000;
}
.socials li {
  margin: 0 5px;
}
.socials a {
  text-decoration: none;
  /* border: 1.1px solid black; */
  padding: 10px;
  border-radius: 60%;
}
.socials a i {
  font-size: 5rem;
  width: 25px;
  color: #000;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #b58b00c4;
}

.footer-bottom {
  width: 100vw;
  background: #000;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-bottom p a {
  color: #f2bd0dc4;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 1;
  font-weight: 200;
}

.footer-menu ul {
  padding-top: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-menu ul li a {
  color: #f2bd0dc4;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #b58b00c4;
}

.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  height: 100%;
}
.columns2 {
  float: left;
  width: 25%;
  padding: 8px;
  height: 100%;
}

/* .columns2 .price{

} */
.columns3 {
  /* margin-left: 6%; */
  float: left;
  width: 50%;
  padding: 8px;
  height: 100%;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}

.price:hover {
  box-shadow: 0 8px 12px 0 #f7b308b2;
}

.price .header {
  font-family: "Raleway";
  background-color: transparent;
  text-shadow: 1px 1px black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-color: #f7b308b2;
  color: white;
  font-size: 25px;
  height: 40%;
}
/* .header img {
  
} */
.columns2 .price .header {
  background-color: #f7b308b2;
  color: white;
  font-size: 25px;
  height: 20%;
}

.columns3 .price .header {
  background-color: #f7b308b2;
  color: white;
  font-size: 25px;
  height: 30%;
}

.price li {
  border-bottom: 1px solid #f7b3082c;
  height: 16%;
  text-align: center;
}
.columns2 .price li {
  border-bottom: 1px solid #f7b3082c;
  height: 5%;
  text-align: center;
}
.columns3 .price li {
  border-bottom: 1px solid #f7b3082c;
  height: 11.7%;
  text-align: center;
}
.columns3 .price h3 {
  padding: 4px;
}
.columns3 .men li {
  padding-top: 10%;
  border-bottom: 1px solid #f7b3082c;
  height: 29.1%;
  text-align: center;
}
.columns3 .men .grey {
  border-bottom: 1px solid #f7b3082c;
  height: 12%;
  text-align: center;
}
.lenght {
  display: block;
  width: 50%;
  float: left;
}
.lenght-price {
  display: block;
  width: 50%;
  float: right;
}
.price h3 {
  margin: 0;
  padding-top: 5%;
}
.price .grey {
  background-color: #926c09b3;
  font-size: 20px;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  align-items: center;
}
.adults-kids {
  height: 20%;
  width: 100%;
  display: block;
}
#opt0 {
  padding-top: 100px;
  text-align: center;

  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#opt1 {
  display: none;
  height: 100%;
}
#opt2 {
  display: none;
  height: 100%;
}
#opt3 {
  display: none;
  height: 100%;
}
/* Extra Small devices (landscape phones, up to 600px) */
@media (max-width: 600px) {
  .columns {
    width: 100%;
  }
  #reviews .card {
    font-size: 0.9rem;
    margin: 0px;
  }
  .comment1 {
    font-size: 0.8rem;
  }
  .columns2 {
    float: left;
    width: 50%;
    padding: 8px;
    height: 100%;
  }
  .cover_80 {
    width: 99%;
    height: 97%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
  }
  .aboutleft {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 35%;
  }
  .aboutright {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    height: 65%;
    font-size: 3vw;
  }
  .aboutright p {
    margin-top: 20px;
  }
  .aboutright > li,
  ul,
  h1,
  p {
    text-align: center;
    padding: 0%;
  }
  .eventsright h1 {
    font-size: 20px;
  }
  #ourservices {
    padding: 0;
    font-size: 1rem;
  }
  #ourservices h1 {
    margin: 20px 20px;
    font-style: italic;
    font-size: 20px;
    font-weight: bolder;
  }
  #ourservices p {
    margin: 20px;
    color: black;
    font-size: 1.8rem;
    margin-top: 0px;
    text-transform: uppercase;
    font-style: italic;
  }
  #ourservices button {
    height: 30px;
    width: 150px;
  }
  #events-section {
    height: 100vh;

    background-position-x: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;

    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  }
  #events-section h1 {
    color: black;
    margin: 0 0 10px 0;
  }
  .eventsright {
    height: 90%;
    width: 90%;
    margin: 0px;
    padding: 0%;
    background-color: transparent;
  }
  .eventsright p {
    font-size: 1.5rem;
  }

  .card {
    margin-left: 0;
    width: 50%;
    height: 31%;
  }
  .card-body {
    height: 33%;
  }

  /* #contact-section {
    height: 100vh;
    
  } */
  #gallery-section .cover_80 {
    margin: 10px;
  }

  .galleryleft {
    background-color: white;
    height: 20%;
    width: 100%;
    padding: 10px 10px 0 15px;
  }
  .galleryleft div {
    width: 30%;
    margin: 5px;
  }
  .galleryright {
    background-color: white;
    overflow-x: scroll;
    height: 80%;
    width: 100%;
    display: block;
  }

  .pricelist {
    margin-left: 20px;
    width: 25%;
    height: 95%;
  }
  .pricelist button {
    font-size: 1.5em;
  }
  .colsmall {
    width: 80vw;
    margin-left: 5%;
  }

  .columns3 .price li {
    height: 11.6%;
  }
  .columns3 .price h3 {
    font-size: 15px;
  }
  .columns3 .men li {
    height: 28.8%;
  }
  .columns3 .men .grey {
    height: 12%;
  }

  /* .contactleft {
    background-image: url(images/LH\ web\ 7.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    position: relative;
  }
  .contactright {
    background-image: url(images/LH\ web\ 7.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    position: relative;
  } */

  /* .contactleft {
    background-image: url(images/LH\ web\ 7.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    position: relative;
  }
  .contactright {
    background-image: url(images/LH\ web\ 7.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;

    position: relative;
  } */
}

/* Medium devices (tablets, 576px up to 992px) */
@media ((min-width: 600px)and (max-width:992px)) {
  #reviews .card {
    font-size: 1rem;
  }
  .comment1 {
    font-size: 0.8rem;
  }
  .cover_80 {
    width: 95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
  }
  .aboutleft {
    background-image: url(images/LH\ web\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    height: 50%;
  }
  .aboutright {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    height: 50%;
    font-size: 1.3vw;
  }
  .aboutright > li,
  ul,
  h1 {
    text-align: center;
    padding: 0%;
  }
  /* #ourservices {
    border-top: 20px solid black;
    background-color: #f7cda61f;
    align-items: center;
    height: 100vh;
    padding: 0 ;
    font-size: 1em;
  } */
  #events-section {
    height: 100vh;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .eventsright {
    height: 90%;
    width: 80%;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
  }
  .eventsright p {
    font-size: 2rem;
  }
  .card {
    margin-left: 0;
    width: 30%;
  }
  .galleryleft {
    background-color: white;
    height: 25%;
    width: 100%;
    padding: 20px 10px 0 10px;
  }
  .galleryleft div {
    width: 30%;
    margin-left: 14px;
  }

  .galleryright {
    background-color: white;
    height: 75%;
    width: 100%;
    display: block;
    padding: 10px;
  }
  /* #opt1{
    height: 100%;
    display: none;
  }
  #opt2{
    height: 100%;
    display: none;
  }
  #opt3{
    height: 100%;
    display: none;
  } */
  .price {
    height: 100;
  }
  /* .price .header{
    height: 30%;

  } */
  .pricelist {
    width: 20%;
    height: 100%;
  }
  

  /* .contactleft {
    background-image: url(images/LH\ web\ 7.1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    position: relative;
  }
  .contactright {
    background-image: url(images/LH\ web\ 7.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;

    position: relative;
  } */
}
