:root {
  --bege: rgba(227, 211, 196, 1);
  --orange: rgba(241, 172, 143, 1);
  --dark: rgba(56, 52, 46, 1);
  --brown: rgba(183, 157, 136, 1);
}
.mynav {
  text-align: center;
  background-color: white;
  padding: 0;
}
.navbar-nav{
    padding-left: 30%;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.container-fluid {
  background-color: white;
  text-align: center;
}

main {
  background-color: white;

  margin-left: auto;
  margin-right: auto;
}
footer {
  height: 80px;
}
.info {
  height: 500px;
  padding-left: 100px;
}

#intro {
  width: 1700px;

  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19);
  margin-bottom: 100px;
}
#p2 {
  width: 1400px;
  height: 500px;
  background-image: url(media/backdrop-background-beige-blank.jpg);
  background-size: cover;
  background-position: top center;
  box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19);
  margin-left: auto;
  margin-right: auto;
}
#p2-left {
  padding-top: 90px;
  width: 40%;
  display: block;
  height: 500;
  float: left;
}
#p2-right {
  width: 60%;
  background-image: url(media/background1.jpg);
  display: block;
  height: 500px;
  float: right;
}
#p3 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1400px;
  height: 500px;

  box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19);
  margin-left: auto;
  margin-right: auto;
}
#p3-left {
  width: 60%;
  display: block;
  height: 500px;
  float: left;
  background-image: url(media/background2.jpg);
}
#p3-right {
  padding-top: 90px;
  width: 40%;
  display: block;
  height: 500px;
  float: right;
}
#p4 {
  width: 1200px;
  height: 500px;
  box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19);
  margin-left: auto;
  margin-right: auto;
}
.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  margin: 30px;
}
footer {
  height: 150px;
}
