:root {
  --bege: rgba(227, 211, 196, 1);
  --orange: rgba(241, 172, 143, 1);
  --dark: rgba(56, 52, 46, 1);
  --brown: rgba(183, 157, 136, 1);
}
.mynav {
  text-align: center;
  background-color: white;
  width: 100%;
  /* padding: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0; */
  position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; background-color: #00a087; 
}
.navbar-nav {
  padding-left: 30%;
}
#logo {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.container-fluid {
  background-color: white;
  text-align: center;
}

main {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin:0;
}
#footer {
  height: 250px;
}
.info {
  height: 500px;
  padding-left: 100px;
}

#intro {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19);
  margin-bottom: 100px;
  width: 100%;
}

#p2 {
  width: 1600px;
  height: 500px;
  background-image: url(media/backdrop-background-beige-blank.jpg);
  background-size: cover;
  background-position: top center;
  /* box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19); */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
#p2-left {
  text-align: center;
  padding-top: 90px;
  width: 40%;
  display: block;
  height: 500;
  float: left;
   padding: 20px;
}
#p2-right {
  width: 60%;
  background-image: url(media/MicrosoftTeams-image\ \(6\).jpeg);
  display: block;
  height: 500px;
  float: right;
    box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19); 
}
.fade_rule {
        height: 1px;
        background-color: #E6E6E6;
        width: 66.0em;
        margin: 0 auto;
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
#p3 {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 1600px;
  height: 500px;

  /* box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19); */
  margin-left: auto;
  margin-right: auto;
}
#p3-left {
  width: 60%;
  display: block;
  height: 500px;
  float: left;
  background-image: url(media/MicrosoftTeams-image\ \(7\).jpeg);
   box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19); 
  
}
#p3-right {
  text-align: center;
  padding-top: 90px;
  width: 40%;
  display: block;
  height: 500px;
  float: right;
  padding: 20px;
}
#p4 {
  width: 1200px;
  height: 500px;
  box-shadow: 5px 0px 3px 3px rgba(153, 178, 181, 0.19);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  margin: 30px;
}
footer {
  height: 150px;
}
